[Geral]
pasta_raiz_dados = /opt/DADOS_ANS/
[Extracao_Demonstracoes]
caminho_arquivo_download = DADOS_DEMONSTRACOES/
[Extracao_Dados_Operadoras]
caminho_arquivo_download = DADOS_OPERADORAS/
url_csv=http://ftp.dadosabertos.ans.gov.br/FTP/PDA/caracteristicas_produtos_saude_suplementar/caracteristicas_produtos_saude_suplementar.csv
[Padronizacao_conversao]
caminho_arquivo_download = DADOS_DEMONSTRACOES/
caminho_arquivo_convertido = DADOS_DEMONSTRACOES_CONVERTIDO/
nome_arquivo_concatenado = todas_demonstracoes_concatenadas.csv